div.bola{
    height: 40px;
    width: 40px;
    display: inline-block;
    font-size: 24px;
    line-height: 40px;
    color: white;
    background-color: blue;
    text-align: center;
    border-radius: 20px;
    margin: 10px;
}